---
import Section from "../Section.astro"

import { basics } from "@cv"
const { summary } = basics
---

<Section title="About Me">
  <p class="about-text">
    {summary}
  </p>
</Section>

<style>
  .about-text {
    transition: font-size 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .about-text:hover {
    font-size: calc(0.9rem + 0.25px);
  }
</style>
