---
import Layout from "@/layouts/Layout.astro"

import About from "@/components/sections/About.astro"
import Education from "@/components/sections/Education.astro"
import Experience from "@/components/sections/Experience.astro"
import Hero from "@/components/sections/Hero.astro"
import Projects from "@/components/sections/Projects.astro"
import Skills from "@/components/sections/Skills.astro"
import Blogs from "@/components/sections/Blogs.astro"

const currentYear = new Date().getFullYear()
---

<Layout title={`PortFolio - Md Afridi Sk`}>
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
    <Blogs />
  </main>

  <footer class="no-print">
    <p>© {currentYear} Md Afridi Sk - Made with ❤️</p>
  </footer>
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  footer {
    display: flex;
    justify-content: center;
    padding: 2rem;
    color: var(--text-muted);
    font-size: 0.8rem;
  }

  @media (width <= 700px) {
    main {
      padding: 1.5rem;
    }
  }
</style>
